.bg-header { 
    background-image: url("https://wallpaperplay.coym/walls/full/7/2/f/300012.jpg");
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    /* width: 100%; */
    
}
/* 
.logo{width: 25%; ;}
.logo > img {width: 100%;} */
img{
    width: 100%;
}

app-nav{
    display: block;
    width: 50%;
}